/* Para melhorar um pouco o design da versão desktop */
@media (min-width: 1680px) {
  .content {
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
  }
  .right-container {
    margin-right: 220px;
  }
  .social-icons {
    margin-right: 390px;
  }
}

@media (max-width: 1350px) {
  body {
    height: 100%;
    width: 100vw;
    background: url(../images/bg-mobile.svg), var(--primary-violet);
    background-size: 110% 45%;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .header img {
    width: 45%;
    padding: 0px;
  }
  .header {
    padding: 36px 12px 62px 36px;
  }
  .content {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .img-windows img {
    width: 85%;
  }
  .img-windows {
    margin-left: 12px;
    display: flex;
    justify-content: center;
  }
  .right-container {
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .title {
    display: block;
    padding: 26px 42px 6px 42px;
    font-size: 26px;
    text-align: center;
  }
  .subtext {
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 6px 36px 30px 36px;
  }
  .register-button {
    border-radius: 46px;
    font-size: 14px;
    padding: 12px 76px 12px 76px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }

  .social-icons {
    margin-top: 68px;
    justify-content: center;
    margin-right: 0px;
  }
  .icon-box {
    width: 28px;
    height: 28px;
  }
  .icon {
    width: 14px;
    height: 14px;
  }
}
